body{
	margin: 0;
	text-align: center;
}

.container{
	width: 100%;
	background-color: aquamarine;
}

.item{
	height: 350px;
	width: 100%;
	float: left;
	margin-top: 80px;
}

img{
	float: left;
	background-color: dimgrey;
}

.main-section{
	background-color: dodgerblue;
}

@media only screen and (max-width: 500px) {
.main-section{
	background-color:dimgrey;
}
	
}

