body{
	margin: 0;
	text-align: center;
}

.fa{
	border-radius: 50px;
    padding: 20px; 
    width: 100px;
    height: 100px; 
	margin: 30px;
}

.fa:hover{
	background-color: dodgerblue;
}

.container{
	width: 100%;
}

.text-bold{
	font-weight: 700;
}

.item{
	height: 350px;
	width: 100%;
	float: left;
}

img{
	float: left;
}

.main-section{
}

@media only screen and (max-width: 500px) {
.main-section{

}
	
}

